header {
    display: flex;
    flex-direction: column;
    background-color: #997CCB;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #190934;
    overflow: hidden;
    border-style:inset;
    border-width: 3px;
    border-color: #905BEC;
    text-decoration: none;
}

.topnav a:link {
    color: #905BEC;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

.topnav a:visited {
    color: #905BEC;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

.topnav a:hover {
    color: #905BEC;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    text-shadow: #997CCB 1px 0 10px;
}

.topnav a:active {
    color: #905BEC;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

#logo {
    display: flex;
    justify-content: space-around;
}

img {
    width: 325px;
    height: 325px;
}
body {
    background-color: #C6ADF5;
}

#bigcircle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    border: 10px solid #44129B;
    padding: 10px;
    background-image: url(https://img.freepik.com/free-vector/abstract-splashed-watercolor-textured-background_53876-8753.jpg?w=996&t=st=1667668569~exp=1667669169~hmac=7a04c7b165ed6762e4fb9915ff5654a3747681f9a2868b74d429777a97ca15a8);
    background-position: center;
    margin-top: 15px; 
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 20px;
    border: 3px solid #8852E5;
    background-color: #44129B;
    margin: 12px;
}
p {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #905BEC;
}

#welcome {
    font-size: xx-large;
}



#renpic {
    height: 290px;
    width: 290px;
    border-radius: 50%;
    padding: 5px;
    border: 5px solid #8852E5;
    border-style: double;
}


