header {
    display: flex;
    flex-direction: column;
    background-color: #997CCB;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #190934;
    overflow: hidden;
    border-style:inset;
    border-width: 3px;
    border-color: #905BEC;
    text-decoration: none;
}

.topnav a:link {
    color: #905BEC;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

.topnav a:visited {
    color: #905BEC;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

.topnav a:hover {
    color: #905BEC;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    text-shadow: #997CCB 1px 0 10px;
}

.topnav a:active {
    color: #905BEC;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: space-around;
}

img {
    width: 325px;
    height: 325px;
}
body {
    background-color: #C6ADF5;
}

.circle {
    display: flex;
    justify-content: center;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background-color: #997CCB;
    border: 10px solid #44129B;
    border-style: double;
}

#welcome {
    border-radius: 50%;
    font-size: xx-large;
    font-weight: bolder;
    color: #CD853F;
    font-family: cursive;
    border: 3px solid #A52A2A;
    text-align: center;
    background-color: black;
    padding: 20px;
}

#renpic {
    height: 200px;
    width: 200px;
    border: 2px solid #8852E5;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    background-color: #44129B;
}


#front-end {
    height: 200px;
    width: 200px;
    border: 2px solid #8852E5;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    background-color: #44129B;
}

#back-end {
    height: 200px;
    width: 200px;
    border: 2px solid #8852E5;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    background-color: #44129B;
}